.reviews {
    display: none;
}

@media( min-width: 768px ){
    
    .reviews {
        display: block;
        max-width: 1220px;
        margin: 30px auto;
    }

    .heading {
        display: flex;
        position: relative;
        align-items: center;
        padding: 0 20px;
    }

    .heading .line {
        height: 4px;
        border-bottom: 2px solid var( --red );
        border-radius: 1px;
        flex-grow: 1;
    }

    .heading .title {
        margin: 0 0 0 40px;
        font-size: 1.8em;
        color: var( --red );
        font-family: var( --title-font );
    }

    .listView {
        display: flex;
        align-content: space-between;
        align-items: center;
        margin: 10px 0;
        width: 100%;
        transform-origin: top left;
        animation: listView .5s;
    }

    .listView .preview {
        flex: 0 0 220px;
    }

    .listView .info {
        flex-grow: 1;
        margin-left: 20px;
        text-align: left;
    }

    .listView .info .title {
        margin: 0;
    }   

    .listView .info .description {
        padding: 0;
        margin: 15px 10px 10px 0;
        height: auto;
    }

    .listView .actionBox {
        visibility: visible;
    }

    .listView .actionBox ul {
        width: 150px;
        justify-content: space-between; 
    }

    .listView .triangle {
        top: 50%;
        left: auto;
        right: 0;
        transform: rotate( -90deg ) translate( 25%, 25% );
    }

    .listView .orderBtn {
        opacity: 1;
        height: 50px;
        width: 200px;
        flex: 0 0 200px;
    }

    .listView:hover .orderBtn {
        height: 150px;
        transition: color .2s;
    }

    .listView .orderBtn:hover {
        color: white;
    }
}