.product {
    max-width: 1220px;
    margin: 80px auto;
}

.heading {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 20px;
}

.heading .listViewBtn {
    display: none;
}

.heading .line {
    height: 4px;
    border-bottom: 2px solid var( --red );
    border-radius: 1px;
    flex-grow: 1;
}

.heading .title {
    margin: 0 0 0 40px;
    font-size: 1.8em;
    color: var( --red );
    font-family: var( --title-font );
}

.productBoxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
    width: 100%;
    transition: all 1s;
}

.productBoxes:after {
    content: "";
    flex: auto;
  }

.productBoxes li {
    margin: 10px;
}

.emptyWrap {
    height: 0;
    width: 220px;
}

@media( min-width: 768px ){
    .heading {
        overflow: hidden;
    }

    .heading .listViewBtn {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        left: -100px;
        transition: left .2s;
        background-color: white;
        padding: 0 20px;
    }

    .heading:hover .listViewBtn {
        left: 0px;
    } 

    .heading .listViewBtn:active img {
        border: 2px inset;
    }

    .heading .listViewBtn img {
        border: 2px outset;
        display: block;
        margin-top: 2px;
        height: 40px;
        width: 40px;
        padding: 5px;  
    }

    .productBoxes.listView {
        display: block;
        flex-direction: row;
        padding: 0 20px;
    }
}