.header {
    z-index: 100;
    width: 100%;
    background-color: var( --light-grey );
    transition: height .2s;
    padding: 20px 10px;

    height: 150px;
    overflow: hidden;
}

.header.menuVisible {
    height: 320px;
}

.header.menuVisible.expanded {
    height: 500px;
}

.navigation {
    position: relative;
    width: 100%;
}

.navigation .burger {
    font-size: 1.6em;
    cursor: pointer;
    color: #888;
    top: 0;
    right: 20px;
    position: absolute;
    background-color: inherit;
}

.navigation .home {
    cursor: pointer;
    margin-right: 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 0 auto 22px auto;
}

.navigation .home:focus,
.navigation .home:active,
.navigation .home:hover {
    color: var( --red );
}

.navigation .logo {
    height: 70px;
    width: 100px;
}

.navigation .home h1 {
    white-space: nowrap;
    font: 1.6em var( --title-font );
    margin: 0;
    transition: font-size .2s;
}

.searchBox {
    margin: 20px 0 0 15px;
    text-align: left;
}

.searchBox input {
    box-sizing: border-box;
    padding: 8px 15px;
    font-size: .7em;
    border-radius: 3px;
    border: 1px solid rgba( 0,0,0,.2 );
    width: 150px;
}

.searchBox button {
    position: relative;
    top: 1px;
    cursor: pointer;
    margin-left: 5px;
    padding: 5px 10px;
    border: 1px solid rgba( 0,0,0,.2 );
    background-color: rgba( 255,255,255,.5 );
    font-size: 1em;
    border-radius: 3px;
}

.searchBox input:focus {
    box-shadow: 0 0 2px rgb(0, 162, 255);
}

.searchBox button:active {
    transform: scale( .8 );
}

.searchBox button:focus {
    box-shadow: 0 0 2px rgb(255, 174, 0);
} 

.searchMessage {
    z-index: -1;
    cursor: default;
    position: absolute;
    left: 50%;
    transform: translateX( -50% );
    opacity: 0;
    color: var( --red );
    padding: 15px 20px;
    background-color: #ffe9ed;
    border-radius: 4px;
    transition: opacity .5s;
    width: 300px;
}

.searchMessage.visible {
    z-index: 100;
    opacity: 1;
    cursor: pointer;
}


@media( min-width: 768px ) {

    .header {
        position: fixed;
        top: 0;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-around;
        height: 80px;
        width: 100%;
        padding: 0;
        overflow: visible;
    }

    .header.menuVisible,
    .header.menuVisible.expanded {
        height: 80px;
    }

    :global( #header.hasScrolled ) {
        background-color: rgba( 236,236,236,.8 );
        height: 60px;
        font-size: .8em;
    }

    .navigation {
        display: flex;
        flex-flow: row;
        align-items: center;
        height: 100%;
        width: auto;
    }

    .navigation .burger {
        display: none;
    }

    .navigation .home {
        flex-flow: row;
        height: 100%;
        padding: 0;
        margin: 0 20px 0 0;
    }

    .navigation .home:active {
        margin: 0 20px 0 0;
    }

    .navigation .home h1 {
        font-size: 1.5em;
    }

    .navigation .logo {
        height: 60px;
        width: 90px;
        transition: all .2s;
    }

    .searchBox {
        margin: 0;
        transition: all .2s;
    }

    .searchMessage {
        position: fixed;
        left: 50%;
        transform: translateX( -50% );
        top: 80px;
        margin: 0 auto;
    }

    :global( #header.hasScrolled nav img ) {
        height: 40px;
        width: 60px;
    }

    :global( #header.hasScrolled .search-box button ){
        padding: 6px 10px;
    }
}

