.header {
    z-index: 100;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80px;
    background-color: var( --light-grey );
    transition: all .2s;
}

.logo {
    height: 80%;
    transition: all .2s;
}

.title {
    display: none;
}

@media( min-width: 768px ) {
    .header {
        justify-content: left;
    }

    .logo {
        margin-left: 10px;
        height: 60%;
    }

    .title {
        margin-left: 20px;
        font: 1.2em var( --title-font );
        display: inline-block;
    }
}

