.productBox {
    background-color: inherit;
    color: inherit;
    padding: 0;
    width: 220px;
}

.productBox:hover,
.productBox:active,
.productBox:focus {
    box-shadow: 0 0 5px grey;
}

.productBox .actionBox {
    visibility: hidden;
}

.productBox:hover .actionBox,
.productBox:active .actionBox,
.productBox:focus .actionBox {
    visibility: visible;
}

.preview {
    z-index: 10;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 220px;
    height: 150px;
    margin: 0 auto;
}

.preview .pane {
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
}

.productBox:hover .pane,
.productBox:active .pane,
.productBox:focus .pane {
    background: linear-gradient( rgba( 0,0,0,.5 ), rgba( 0,0,0,.5 ) );
}

.preview span {
    z-index: 10;
    position: absolute;
    display: none;
    color: white;
    font-size: 3em;
    top: 50%;
    left: 50%;
    transform: translate( -50%,-50% );
}

.productBox:hover span,
.productBox:active span,
.productBox:focus span {
    display: block;
}

.preview img {
    z-index: -1;
    width: 100%;
    height: 100%;
}

.productBox:hover img,
.productBox:active img,
.productBox:focus img {
    width: 150%;
    height: 150%;
    transform: rotate( 15deg ) translate( -15%,-10% );
}

.triangle {
    z-index: 15;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
    width: 0; 
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 21px solid white;
}

.title {
    font: 1.5em var( --title-font );
    color: var( --purple );
}

.description {
    font-size: .8em;
    color: #555;
    padding: 0 10px;
    text-align: justify;
    text-justify: inter-word;
    height: 64px;
}

.orderBtn {
    cursor: pointer;
    opacity: 0;
    background-color: white;
    width: 100%;
    background-color: var( --red );
    height: 50px;
}

.productBox:hover .orderBtn,
.productBox:active .orderBtn,
.productBox:focus .orderBtn {
    opacity: 1;
    background-color: var( --red );
}

.productBox .orderBtn:hover {
    color: white;
    transition: all .5s;
}

@media( min-width: 768px ){
    
    .listView {
        display: flex;
        align-content: space-between;
        align-items: center;
        margin: 10px 0;
        width: 100%;
    }

    .listView .info {
        flex-grow: 1;
        margin-left: 20px;
        text-align: left;
    }

    .listView .info .title {
        margin: 0;
    }   

    .listView .info .description {
        max-width: 720px;
        padding: 0;
        margin: 15px 0 10px 0;
        height: auto;
    }

    .listView .actionBox {
        visibility: visible;
    }

    .listView .actionBox ul {
        width: 150px;
        justify-content: space-between; 
    }

    .listView .triangle {
        top: 50%;
        left: auto;
        right: 0;
        transform: rotate( -90deg ) translate( 25%, 25% );
    }

    .listView .orderBtn {
        opacity: 1;
        height: 50px;
        width: 200px;
    }

    .listView:hover .orderBtn {
        height: 150px;
        transition: color .2s;
    }

    .listView .orderBtn:hover {
        color: white;
    }
}