html {
  --red: #CF4140;
  --purple: #713093;
  --light-grey: #ececec;

  --title-font: 'Pacifico', cursive;
  --body-font: 'Cuprum', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: 0 none transparent;
}